<div class="form-group row">
  <label class="col-sm-2 col-form-label" for="formBank">Bank</label>
  <div class="col-sm-10">

    <select (change)="filterProducts()" [(ngModel)]="typeBank" class="form-control"
            id="formBank"
            name="typeBank">
      <option *ngFor="let bank of banks" [value]="bank" value="{{ bank }}">{{ bank }}</option>
    </select>

  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label" for="formTypeAccount">Type Account</label>
  <div class="col-sm-10">

    <select (change)="filterProducts()" [(ngModel)]="typeAccount" class="form-control"
            id="formTypeAccount"
            name="typeAccount">
      <option *ngFor="let tAccount of typeAccounts" value="{{ tAccount }}">{{ tAccount }}</option>
    </select>
  </div>
</div>


<mat-card *ngFor="let product of filteredProducts" [ngClass]="'cardList'">

  <div class="card">
    <div class="card-header">
      Account Information
    </div>
    <div class="card-body">
      <p class="card-text">Banco {{product.accountInformation.bank }}</p>
      <p class="card-text">
        Tipo de producto: {{product.typeAccount }}
        <mat-icon aria-hidden="false">{{ productIcons[product.typeAccount] }}</mat-icon>
      </p>

      <p *ngIf="product.productAccountBalances !== undefined && product.productAccountBalances.saldo_actual !== undefined" class="card-text">
        Saldo Actual
        {{product.productAccountBalances.saldo_actual.amount | currency }}
        <span
          *ngIf="product.productAccountBalances.saldo_actual.currencyCode !== undefined">{{product.productAccountBalances.saldo_actual.currencyCode }}</span>
      </p>
    </div>
  </div>

  <mat-card-actions>
    <button (click)="openDialog(product)" mat-button>Más Información</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="filteredProducts.length === 0" [ngClass]="'cardList'">
  <div class="card">
    <div class="card-header">
      No hay productos
    </div>
  </div>
</mat-card>
