html {
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  position: relative;
  padding-top: 55px;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] {
  display: none !important;
}

footer {
  margin-top: 15px;
}

.app-title {
  line-height: 50px;
  font-size: 20px;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
