<div mat-dialog-content>


  <div class="card">

    <div class="card-header">
      Account Information
    </div>
    <div class="card-body">
      <p class="card-text">Banco {{ data.accountInformation.bank }}</p>
      <p class="card-text">
        Tipo de producto: {{ data.typeAccount }}
        <mat-icon aria-hidden="false">{{ productIcons[data.typeAccount] }}</mat-icon>
      </p>
      <p class="card-text">Account
        Identifier: {{ data.accountInformation.accountIdentifier | creditCardMask: data.typeAccount }}</p>
      <p *ngIf="data.typeAccount === 'CREDIT_CARD'"
         class="card-text">{{ data.accountInformation.accountIdentifier | typeCreditCardPipe}}</p>
      <p *ngIf="data.accountInformation.currencyCode !== undefined" class="card-text">Currency
        Code: {{ data.accountInformation.currencyCode }}</p>
    </div>

    <div class="card-header">
      More Information
    </div>
    <div class="card-body">
      <p class="card-text">ID {{ data.id | creditCardMask: data.typeAccount }}</p>
      <p class="card-text">{{ data.locked | isLocked }}</p>
      <p class="card-text">Type Account: {{ data.typeAccount }}</p>
      <p *ngIf="data.status !== undefined" class="card-text">Status: {{ data.status }}</p>
      <p *ngIf="data.openedDate !== undefined" class="card-text">Open Date: {{ data.openedDate | date }}</p>
      <p *ngIf="data.closedDate !== undefined" class="card-text">Close Date: {{ data.closedDate | date }}</p>
      <p *ngIf="data.dueDate !== undefined" class="card-text">Due Date: {{ data.dueDate | date  }}</p>
      <p *ngIf="data.lastTransactionDate !== undefined" class="card-text">Last Transaction
        Date: {{ data.lastTransactionDate | date }}</p>
      <p *ngIf="data.overDraftDays !== undefined" class="card-text">Over Draft
        Days: {{ data.overDraftDays | number }}</p>
      <p *ngIf="data.capacity !== undefined" class="card-text">Capacity: {{ data.capacity | number }}</p>
    </div>

    <div *ngIf="data.term !== undefined">
      <div class="card-header">
        Term
      </div>
      <div class="card-body">
        <p class="card-text">Counts: {{ data.term.count | number }}</p>
        <p class="card-text">Counts: {{ data.term.units }}</p>
      </div>
    </div>

    <div *ngIf="data.periodicityOfPayment !== undefined">
      <div class="card-header">
        Periodicity Of Payment
      </div>
      <div class="card-body">
        <p class="card-text">Counts: {{ data.term.count | number }}</p>
        <p class="card-text">Counts: {{ data.term.units }}</p>
      </div>
    </div>

    <div *ngIf="data.productAccountBalances !== undefined"  [ngClass]="{'alertPayCreditCard': data.creditCardsDates !== undefined && data.creditCardsDates.paymentDate !== ''}" >
      <div class="card-header">
        Product Account Balances
      </div>
      <div class="card-body">

        <div *ngIf="data.typeAccount === 'CREDIT_CARD'">
          <h1 *ngIf="data.creditCardsDates !== undefined && data.creditCardsDates.paymentDate !== ''">
            Fecha de Pago: {{ data.creditCardsDates.paymentDate | date | uppercase }}
          </h1>
        </div>

        <p *ngIf="data.productAccountBalances.pago_total_pesos !== undefined" class="card-text">
          Pago Total Pesos:
          {{ data.productAccountBalances.pago_total_pesos.amount | currency }}
          <span *ngIf="data.productAccountBalances.pago_total_pesos.currencyCode !== undefined">{{ data.productAccountBalances.pago_total_pesos.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.cupo_total !== undefined" class="card-text">
          Cupo Total
          {{ data.productAccountBalances.cupo_total.amount | currency }}
          <span *ngIf="data.productAccountBalances.cupo_total.currencyCode !== undefined">{{ data.productAccountBalances.cupo_total.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.cupo_disponible_avances_pesos !== undefined" class="card-text">
          Cupo Disponible Avances Pesos
          {{ data.productAccountBalances.cupo_disponible_avances_pesos.amount | currency }}
          <span *ngIf="data.productAccountBalances.cupo_disponible_avances_pesos.currencyCode !== undefined">{{ data.productAccountBalances.cupo_disponible_avances_pesos.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.cupo_disponible_compras_pesos !== undefined" class="card-text">
          Cupo Disponible Compras Pesos
          {{ data.productAccountBalances.cupo_disponible_compras_pesos.amount | currency }}
          <span *ngIf="data.productAccountBalances.cupo_disponible_compras_pesos.currencyCode !== undefined">{{ data.productAccountBalances.cupo_disponible_compras_pesos.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.cupo_aprobado_remesas !== undefined" class="card-text">
          Cupo Aprobado Remesas
          {{ data.productAccountBalances.cupo_aprobado_remesas.amount | currency }}
          <span *ngIf="data.productAccountBalances.cupo_aprobado_remesas.currencyCode !== undefined">{{ data.productAccountBalances.cupo_aprobado_remesas.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.cupos_aprobado_sobregiro !== undefined" class="card-text">
          Cupo Aprobado Sobregiro
          {{ data.productAccountBalances.cupos_aprobado_sobregiro.amount | currency }}
          <span *ngIf="data.productAccountBalances.cupos_aprobado_sobregiro.currencyCode !== undefined">{{ data.productAccountBalances.cupos_aprobado_sobregiro.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.cupo_disponible_sobregiro !== undefined" class="card-text">
          Cupo Disponible Sobregiro
          {{ data.productAccountBalances.cupo_disponible_sobregiro.amount | currency }}
          <span *ngIf="data.productAccountBalances.cupo_disponible_sobregiro.currencyCode !== undefined">{{ data.productAccountBalances.cupo_disponible_sobregiro.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.valor_pago_minimo !== undefined" class="card-text">
          Valor Mínimo Pago
          {{ data.productAccountBalances.valor_pago_minimo.amount | currency }}
          <span *ngIf="data.productAccountBalances.valor_pago_minimo.currencyCode !== undefined">{{ data.productAccountBalances.valor_pago_minimo.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.saldo_disponible !== undefined" class="card-text">
          Saldo Disponible
          {{ data.productAccountBalances.saldo_disponible.amount | currency }}
          <span *ngIf="data.productAccountBalances.saldo_disponible.currencyCode !== undefined">{{ data.productAccountBalances.saldo_disponible.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.saldo_ayer !== undefined" class="card-text">
          Saldo Ayer
          {{ data.productAccountBalances.saldo_ayer.amount | currency }}
          <span *ngIf="data.productAccountBalances.saldo_ayer.currencyCode !== undefined">{{ data.productAccountBalances.saldo_ayer.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.saldo_actual !== undefined" class="card-text">
          Saldo Actual
          {{ data.productAccountBalances.saldo_actual.amount | currency }}
          <span *ngIf="data.productAccountBalances.saldo_actual.currencyCode !== undefined">{{ data.productAccountBalances.saldo_actual.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.saldo_mora_pesos !== undefined" class="card-text">
          Saldo Mora Pesos
          {{ data.productAccountBalances.saldo_mora_pesos.amount | currency }}
          <span *ngIf="data.productAccountBalances.saldo_mora_pesos.currencyCode !== undefined">{{ data.productAccountBalances.saldo_mora_pesos.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.saldo_pendiente_pago !== undefined" class="card-text">
          Saldo Pendiente Pago
          {{ data.productAccountBalances.saldo_pendiente_pago.amount | currency }}
          <span *ngIf="data.productAccountBalances.saldo_pendiente_pago.currencyCode !== undefined">{{ data.productAccountBalances.saldo_pendiente_pago.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.saldo_canje !== undefined" class="card-text">
          Saldo Canje
          {{ data.productAccountBalances.saldo_canje.amount | currency }}
          <span *ngIf="data.productAccountBalances.saldo_canje.currencyCode !== undefined">{{ data.productAccountBalances.saldo_canje.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.saldo_canje_24_horas !== undefined" class="card-text">
          Saldo Canje 24 Horas
          {{ data.productAccountBalances.saldo_canje_24_horas.amount | currency }}
          <span *ngIf="data.productAccountBalances.saldo_canje_24_horas.currencyCode !== undefined">{{ data.productAccountBalances.saldo_canje_24_horas.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.saldo_canje_48_horas !== undefined" class="card-text">
          Saldo Canje 48 Horas
          {{ data.productAccountBalances.saldo_canje_48_horas.amount | currency }}
          <span *ngIf="data.productAccountBalances.saldo_canje_48_horas.currencyCode !== undefined">{{ data.productAccountBalances.saldo_canje_48_horas.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.saldo_canje_72_horas !== undefined" class="card-text">
          Saldo Canje 72 Horas
          {{ data.productAccountBalances.saldo_canje_72_horas.amount | currency }}
          <span *ngIf="data.productAccountBalances.saldo_canje_72_horas.currencyCode !== undefined">{{ data.productAccountBalances.saldo_canje_72_horas.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.interes_pagado !== undefined" class="card-text">
          Interes Pagado
          {{ data.productAccountBalances.interes_pagado.amount | currency }}
          <span *ngIf="data.productAccountBalances.interes_pagado.currencyCode !== undefined">{{ data.productAccountBalances.interes_pagado.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.intereses_causados !== undefined" class="card-text">
          Intereses Causados
          {{ data.productAccountBalances.intereses_causados.amount | currency }}
          <span *ngIf="data.productAccountBalances.intereses_causados.currencyCode !== undefined">{{ data.productAccountBalances.intereses_causados.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.valor_constitucion !== undefined" class="card-text">
          Valor Constitucion
          {{ data.productAccountBalances.valor_constitucion.amount | currency }}
          <span *ngIf="data.productAccountBalances.valor_constitucion.currencyCode !== undefined">{{ data.productAccountBalances.valor_constitucion.currencyCode }}</span>
        </p>

        <p *ngIf="data.productAccountBalances.retefuente !== undefined" class="card-text">
          Retención en la Fuente
          {{ data.productAccountBalances.retefuente.amount | currency }}
          <span *ngIf="data.productAccountBalances.retefuente.currencyCode !== undefined">{{ data.productAccountBalances.retefuente.currencyCode }}</span>
        </p>

      </div>
    </div>

  </div>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
